<header>
    <nav>
        <a href="/">Moviestore</a>
        <ul>
            <li><a href="/directors">Réalisateur</a></li>
            <li><a href="/directors/new">Ajouter réalisateur</a></li>
        </ul>
    </nav> 
</header>